---
swagger: "2.0"
info:
  description: "The main API endpoint for WasedaTime Web App."
  version: "2023-07-09T09:39:52Z"
  title: "wasedatime-rest-api"
host: "api.wasedatime.com"
basePath: "/staging"
schemes:
- "https"
paths:
  /career/intern:
    get:
      operationId: "GetInternInfo"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "ind"
        in: "query"
        required: false
        type: "string"
      - name: "limit"
        in: "query"
        required: true
        type: "string"
      - name: "dl"
        in: "query"
        required: false
        type: "string"
      - name: "lang"
        in: "query"
        required: false
        type: "string"
      - name: "offset"
        in: "query"
        required: true
        type: "string"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/Empty"
          headers:
            Referrer-Policy:
              type: "string"
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Content-Type:
              type: "string"
    options:
      consumes:
      - "application/json"
      responses:
        "204":
          description: "204 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /career/part-time:
    get:
      operationId: "GetParttimeInfo"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "loc"
        in: "query"
        required: false
        type: "string"
      - name: "limit"
        in: "query"
        required: true
        type: "string"
      - name: "lang"
        in: "query"
        required: false
        type: "string"
      - name: "offset"
        in: "query"
        required: true
        type: "string"
      - name: "pay"
        in: "query"
        required: false
        type: "string"
      - name: "dl"
        in: "query"
        required: false
        type: "string"
      - name: "freq"
        in: "query"
        required: false
        type: "string"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/Empty"
          headers:
            Referrer-Policy:
              type: "string"
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Content-Type:
              type: "string"
    options:
      consumes:
      - "application/json"
      responses:
        "204":
          description: "204 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /career/seminar:
    get:
      operationId: "GetSeminarInfo"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "ind"
        in: "query"
        required: false
        type: "string"
      - name: "limit"
        in: "query"
        required: true
        type: "string"
      - name: "duration"
        in: "query"
        required: false
        type: "string"
      - name: "lang"
        in: "query"
        required: false
        type: "string"
      - name: "offset"
        in: "query"
        required: true
        type: "string"
      - name: "dl"
        in: "query"
        required: false
        type: "string"
      - name: "major"
        in: "query"
        required: false
        type: "string"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/Empty"
          headers:
            Referrer-Policy:
              type: "string"
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Content-Type:
              type: "string"
    options:
      consumes:
      - "application/json"
      responses:
        "204":
          description: "204 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /course-reviews/{key}:
    get:
      operationId: "GetReviews"
      produces:
      - "application/json"
      parameters:
      - name: "uid"
        in: "query"
        required: false
        type: "string"
      - name: "key"
        in: "path"
        required: true
        type: "string"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/GetReviewsResp"
          headers:
            Referrer-Policy:
              type: "string"
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Content-Type:
              type: "string"
    post:
      operationId: "PostReview"
      consumes:
      - "application/json"
      parameters:
      - name: "key"
        in: "path"
        required: true
        type: "string"
      - in: "body"
        name: "PostReviewReq"
        required: true
        schema:
          $ref: "#/definitions/PostReviewReq"
      responses:
        "200":
          description: "200 response"
          headers:
            Referrer-Policy:
              type: "string"
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Content-Type:
              type: "string"
      security:
      - cognito-authorizer: []
    delete:
      operationId: "DeleteReview"
      parameters:
      - name: "ts"
        in: "query"
        required: true
        type: "string"
      - name: "key"
        in: "path"
        required: true
        type: "string"
      responses:
        "200":
          description: "200 response"
          headers:
            Referrer-Policy:
              type: "string"
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Content-Type:
              type: "string"
      security:
      - cognito-authorizer: []
    options:
      consumes:
      - "application/json"
      parameters:
      - name: "key"
        in: "path"
        required: true
        type: "string"
      responses:
        "204":
          description: "204 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
    patch:
      operationId: "UpdateReview"
      consumes:
      - "application/json"
      parameters:
      - name: "ts"
        in: "query"
        required: true
        type: "string"
      - name: "key"
        in: "path"
        required: true
        type: "string"
      - in: "body"
        name: "PatchReviewReq"
        required: true
        schema:
          $ref: "#/definitions/PatchReviewReq"
      responses:
        "200":
          description: "200 response"
          headers:
            Referrer-Policy:
              type: "string"
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Content-Type:
              type: "string"
      security:
      - cognito-authorizer: []
  /forum-comment/{thread_id}:
    get:
      operationId: "GetComments"
      produces:
      - "application/json"
      parameters:
      - name: "uid"
        in: "query"
        required: false
        type: "string"
      - name: "thread_id"
        in: "path"
        required: true
        type: "string"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/GetCommentsResp"
          headers:
            Referrer-Policy:
              type: "string"
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Content-Type:
              type: "string"
    post:
      operationId: "PostComment"
      consumes:
      - "application/json"
      parameters:
      - name: "thread_id"
        in: "path"
        required: true
        type: "string"
      - in: "body"
        name: "PostCommentReq"
        required: true
        schema:
          $ref: "#/definitions/PostCommentReq"
      responses:
        "200":
          description: "200 response"
          headers:
            Referrer-Policy:
              type: "string"
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Content-Type:
              type: "string"
      security:
      - cognito-authorizer: []
    delete:
      operationId: "DeleteComment"
      parameters:
      - name: "ts"
        in: "query"
        required: true
        type: "string"
      - name: "thread_id"
        in: "path"
        required: true
        type: "string"
      responses:
        "200":
          description: "200 response"
          headers:
            Referrer-Policy:
              type: "string"
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Content-Type:
              type: "string"
      security:
      - cognito-authorizer: []
    options:
      consumes:
      - "application/json"
      parameters:
      - name: "thread_id"
        in: "path"
        required: true
        type: "string"
      responses:
        "204":
          description: "204 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
    patch:
      operationId: "UpdateComment"
      consumes:
      - "application/json"
      parameters:
      - name: "ts"
        in: "query"
        required: true
        type: "string"
      - name: "thread_id"
        in: "path"
        required: true
        type: "string"
      - in: "body"
        name: "PatchCommentReq"
        required: true
        schema:
          $ref: "#/definitions/PatchCommentReq"
      responses:
        "200":
          description: "200 response"
          headers:
            Referrer-Policy:
              type: "string"
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Content-Type:
              type: "string"
      security:
      - cognito-authorizer: []
  /syllabus:
    get:
      operationId: "GetCourse"
      parameters:
      - name: "id"
        in: "query"
        required: true
        type: "string"
      responses:
        "200":
          description: "200 response"
          headers:
            Referrer-Policy:
              type: "string"
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Content-Type:
              type: "string"
    options:
      consumes:
      - "application/json"
      responses:
        "204":
          description: "204 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /syllabus/book-info:
    post:
      operationId: "GetBookInfo"
      responses:
        "200":
          description: "200 response"
          headers:
            Referrer-Policy:
              type: "string"
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Content-Type:
              type: "string"
    options:
      consumes:
      - "application/json"
      responses:
        "204":
          description: "204 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /syllabus/{school}:
    get:
      operationId: "GetSyllabusBySchool"
      produces:
      - "application/json"
      parameters:
      - name: "school"
        in: "path"
        required: true
        type: "string"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/GetSyllabusResp"
          headers:
            Cache-Control:
              type: "string"
            Access-Control-Allow-Origin:
              type: "string"
            ETag:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Expires:
              type: "string"
            Last-Modified:
              type: "string"
    head:
      operationId: "GetSyllabusMetadataBySchool"
      parameters:
      - name: "school"
        in: "path"
        required: true
        type: "string"
      responses:
        "200":
          description: "200 response"
          headers:
            Cache-Control:
              type: "string"
            Access-Control-Allow-Origin:
              type: "string"
            ETag:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Expires:
              type: "string"
            Last-Modified:
              type: "string"
    options:
      consumes:
      - "application/json"
      parameters:
      - name: "school"
        in: "path"
        required: true
        type: "string"
      responses:
        "204":
          description: "204 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /timetable:
    get:
      operationId: "GetTimetable"
      responses:
        "200":
          description: "200 response"
          headers:
            Referrer-Policy:
              type: "string"
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Content-Type:
              type: "string"
      security:
      - cognito-authorizer: []
    post:
      operationId: "PostTimetable"
      responses:
        "200":
          description: "200 response"
          headers:
            Referrer-Policy:
              type: "string"
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Content-Type:
              type: "string"
      security:
      - cognito-authorizer: []
    put:
      operationId: "PutTimetable"
      responses:
        "200":
          description: "200 response"
          headers:
            Referrer-Policy:
              type: "string"
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Content-Type:
              type: "string"
      security:
      - cognito-authorizer: []
    options:
      consumes:
      - "application/json"
      responses:
        "204":
          description: "204 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
    patch:
      operationId: "UpdateTimetable"
      responses:
        "200":
          description: "200 response"
          headers:
            Referrer-Policy:
              type: "string"
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Content-Type:
              type: "string"
      security:
      - cognito-authorizer: []
securityDefinitions:
  cognito-authorizer:
    type: "apiKey"
    name: "Authorization"
    in: "header"
    x-amazon-apigateway-authtype: "cognito_user_pools"
definitions:
  GetCommentsResp:
    type: "object"
    required:
    - "data"
    - "message"
    properties:
      data:
        type: "object"
        properties:
          thread_id:
            type: "string"
          mod:
            type: "boolean"
          updated_at:
            type: "string"
          created_at:
            type: "string"
          body:
            type: "string"
        required:
        - "body"
        - "mod"
        - "thread_id"
      message:
        type: "string"
  PatchReviewReq:
    type: "object"
    required:
    - "data"
    properties:
      data:
        type: "object"
        properties:
          difficulty:
            type: "integer"
          comment:
            type: "string"
          satisfaction:
            type: "integer"
          benefit:
            type: "integer"
        required:
        - "benefit"
        - "comment"
        - "difficulty"
        - "satisfaction"
  Empty:
    type: "object"
    title: "Empty Schema"
  GetReviewsResp:
    type: "object"
    required:
    - "data"
    - "message"
    - "success"
    properties:
      data:
        type: "array"
        items:
          type: "object"
          properties:
            comment_ja:
              type: "string"
            src_lang:
              type: "string"
            mod:
              type: "boolean"
            year:
              type: "integer"
            title_jp:
              type: "string"
            created_at:
              type: "string"
            satisfaction:
              type: "integer"
            title:
              type: "string"
            instructor_jp:
              type: "string"
            benefit:
              type: "integer"
            difficulty:
              type: "integer"
            comment_zh_CN:
              type: "string"
            comment_ko:
              type: "string"
            updated_at:
              type: "string"
            instructor:
              type: "string"
            comment_zh_TW:
              type: "string"
            comment_en:
              type: "string"
          required:
          - "benefit"
          - "comment_en"
          - "comment_ja"
          - "comment_ko"
          - "created_at"
          - "difficulty"
          - "instructor"
          - "instructor_jp"
          - "mod"
          - "satisfaction"
          - "src_lang"
          - "title"
          - "title_jp"
          - "updated_at"
          - "year"
      success:
        type: "boolean"
      message:
        type: "string"
  GetSyllabusResp:
    title: "Syllabus"
    type: "array"
    description: "The new syllabus JSON schema for each school."
    items:
      type: "object"
      description: "The schema of each course in the array."
      title: "Items"
      properties:
        a:
          type: "string"
          description: "Course key of the course."
          title: "Course Key"
        b:
          type: "string"
          description: "Course title in English."
          title: "Title"
        c:
          type: "string"
          description: "Course title in Japanese."
          title: "Title JP"
        d:
          type: "string"
          description: "Instructor's name in English."
          title: "Instructor"
        e:
          type: "string"
          description: "Instructor's name in Japanese."
          title: "Instructor JP"
        f:
          type: "array"
          description: "Languages in which the course is taught."
          title: "Langauges"
          items:
            type: "integer"
            description: "-1 N/A | 0 Japanese | 1 English | 2 German | 3 French |\
              \ 4 Chinese | 5 Spanish | 6 Korean | 7 Russia | 8 Italian | 9 other"
            title: "Language"
        g:
          type: "integer"
          description: "Type of the course\n-1 N/A | 0 Lecture | 1 Seminar | 2 Work\
            \ | 3 Foreign Langauge | 4 On-demand | 5 Thesis | 6 Graduate Research\
            \ | 7 Practice | 8 Blended"
          title: "Type"
        h:
          type: "string"
          description: "The term in which the course is taught.\nseason := 0 Spring\
            \ | 1 Summer | 2 Fall | 3 Winter\nperiod := 's' Semester| 'q' Quarter\
            \ | 'i' Intensive Course | 'f' Full Year | 't' Term\ndelimiter := '/'\
            \ or | '&' and"
          title: "Term"
          enum:
          - "0s"
          - "2s"
          - "0q"
          - "1q"
          - "2q"
          - "3q"
          - "f"
          - "0"
          - "1"
          - "2"
          - "3"
          - "0i"
          - "2i"
          - "0t"
          - "2t"
          - "3t"
          - "0t/1t"
          - "0s/2s"
          - "2t/3t"
          - "1&2s"
          - "0s&1"
          - "f/2s"
          - "0i&3i"
        i:
          type: "array"
          description: "The schedules and locations of the course."
          title: "Occurrences"
          items:
            type: "object"
            description: "Schedule and location"
            title: "Occurrence"
            properties:
              p:
                type: "integer"
                description: "The period on which the course is taught.\nstart_period\
                  \ := -1 others | 0 On-demand | 1 .. 9\nend_period := start_period "
                title: "Period"
              d:
                type: "integer"
                description: "The day on which the course is taught.\n-1 others |\
                  \ 0 Mon | 1 Tues | 2 Wed | 3 Thur | 4 Fri | 5 Sat | 6 Sun"
                title: "Day"
              l:
                type: "string"
                description: "The location where the course takes place."
                title: "Loction"
            required:
            - "d"
            - "l"
            - "p"
        j:
          type: "integer"
          description: "Minimum eligible year.\n-1 unknown | 1 .. 4"
          title: "Minimum Eligible Year"
        k:
          type: "string"
          description: "The category the course falls in."
          title: "Category"
        l:
          type: "integer"
          description: "The credit of the course.\n -1 unknown | 0 .."
          title: "Credit"
        m:
          type: "integer"
          description: "The level/difficulty of the course.\n-1 N/A | 0 Beginner |\
            \ 1 Intermediate | 2 Advanced | 3 Final-stage | 4 Master | 5 Doctor"
          title: "Level"
        "n":
          type: "array"
          description: "The distribution of evaluation criterion and their descriptions"
          title: "Evaluations"
          items:
            type: "object"
            description: "Criteria and description"
            title: "Evaluation"
            properties:
              p:
                type: "integer"
                description: "The percentage of this criteria in evaluation."
                title: "Percentage"
              c:
                type: "string"
                description: "An explanation about the criteria."
                title: "Comment"
              t:
                type: "integer"
                description: "Type of the evaluation\n-1 Unknown | 0 Exam | 1 Papers\
                  \ | 2 Class Participation | 3 Others"
                title: "Type"
            required:
            - "c"
            - "p"
            - "t"
        o:
          type: "string"
          description: "Course code"
          title: "Code"
        p:
          type: "string"
          description: "Subtitle of the course (often seen in seminar courses)"
          title: "Subtitle"
        q:
          type: "string"
          description: "The category the course falls in.(in Japanese)"
          title: "CategoryJP"
      required:
      - "a"
      - "b"
      - "c"
      - "d"
      - "e"
      - "f"
      - "g"
      - "h"
      - "i"
      - "j"
      - "k"
      - "l"
      - "m"
      - "n"
      - "o"
      - "p"
      - "q"
  PostReviewReq:
    type: "object"
    required:
    - "data"
    properties:
      data:
        type: "object"
        properties:
          difficulty:
            type: "integer"
          instructor:
            type: "string"
          year:
            type: "integer"
          title_jp:
            type: "string"
          comment:
            type: "string"
          satisfaction:
            type: "integer"
          title:
            type: "string"
          instructor_jp:
            type: "string"
          benefit:
            type: "integer"
        required:
        - "benefit"
        - "comment"
        - "difficulty"
        - "instructor"
        - "instructor_jp"
        - "satisfaction"
        - "title"
        - "title_jp"
        - "year"
  PatchCommentReq:
    type: "object"
    required:
    - "data"
    properties:
      data:
        type: "object"
        properties:
          body:
            type: "string"
        required:
        - "body"
  PostCommentReq:
    type: "object"
    required:
    - "data"
    properties:
      data:
        type: "object"
        properties:
          body:
            type: "string"
        required:
        - "body"
