openapi: "3.0.1"
info:
  title: "wasedatime-prod"
  version: "2020-12-04 11:27:13UTC"
servers:
- url: "https://api.wasedatime.com/v1/{basePath}"
  variables:
    basePath:
      default: "prod"
tags:
- name: "name"
  x-amazon-apigateway-tag-value: "api"
paths:
  /syllabus:
    get:
      responses:
        default:
          description: "Default response for GET /syllabus"
      x-amazon-apigateway-integration:
        payloadFormatVersion: "1.0"
        type: "http_proxy"
        httpMethod: "GET"
        uri: "https://wasedatime-syllabus.s3-ap-northeast-1.amazonaws.com/2020-2021/course_list_all_min.json"
        connectionType: "INTERNET"
  /syllabus/{item}:
    get:
      responses:
        default:
          description: "Default response for GET /syllabus/{item}"
      x-amazon-apigateway-integration:
        payloadFormatVersion: "1.0"
        type: "http_proxy"
        httpMethod: "GET"
        uri: "https://wasedatime-syllabus.s3-ap-northeast-1.amazonaws.com/syllabus/{item}.json"
        connectionType: "INTERNET"
  /course-reviews:
    post:
      responses:
        default:
          description: "Default response for POST /course-reviews"
      x-amazon-apigateway-integration:
        payloadFormatVersion: "2.0"
        type: "aws_proxy"
        httpMethod: "POST"
        uri: "arn:aws:apigateway:ap-northeast-1:lambda:path/2015-03-31/functions/arn:aws:lambda:ap-northeast-1:564383102056:function:getReviews:prod/invocations"
        connectionType: "INTERNET"
components:
  x-amazon-apigateway-integrations:
    unusedIntegration_rvbm6zi:
      payloadFormatVersion: "2.0"
      type: "aws_proxy"
      httpMethod: "POST"
      uri: "arn:aws:apigateway:ap-northeast-1:lambda:path/2015-03-31/functions/arn:aws:lambda:ap-northeast-1:564383102056:function:GetReviews:prod/invocations"
      connectionType: "INTERNET"
      timeoutInMillis: 30000
x-amazon-apigateway-cors:
  allowMethods:
  - "GET"
  - "OPTIONS"
  - "POST"
  allowHeaders:
  - "*"
  maxAge: 3000
  allowCredentials: false
  allowOrigins:
  - "https://preview.wasedatime.com"
  - "https://wasedatime.com"
x-amazon-apigateway-importexport-version: "1.0"
