---
swagger: "2.0"
info:
  version: "2020-12-13T09:04:08Z"
  title: "wasedatime-dev"
host: "api.wasedatime.com"
basePath: "/staging"
schemes:
- "https"
paths:
  /career:
    get:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "offset"
        in: "query"
        required: true
        type: "string"
      - name: "q"
        in: "query"
        required: false
        type: "string"
      - name: "limit"
        in: "query"
        required: true
        type: "string"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/Empty"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
    options:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/Empty"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /career/intern:
    get:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "ind"
        in: "query"
        required: false
        type: "string"
      - name: "limit"
        in: "query"
        required: true
        type: "string"
      - name: "dl"
        in: "query"
        required: false
        type: "string"
      - name: "lang"
        in: "query"
        required: false
        type: "string"
      - name: "offset"
        in: "query"
        required: true
        type: "string"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/Empty"
    options:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/Empty"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /career/part-time:
    get:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "loc"
        in: "query"
        required: false
        type: "string"
      - name: "limit"
        in: "query"
        required: true
        type: "string"
      - name: "offset"
        in: "query"
        required: true
        type: "string"
      - name: "lang"
        in: "query"
        required: false
        type: "string"
      - name: "pay"
        in: "query"
        required: false
        type: "string"
      - name: "dl"
        in: "query"
        required: false
        type: "string"
      - name: "freq"
        in: "query"
        required: false
        type: "string"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/Empty"
    options:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/Empty"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /career/seminar:
    get:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "ind"
        in: "query"
        required: false
        type: "string"
      - name: "limit"
        in: "query"
        required: true
        type: "string"
      - name: "duration"
        in: "query"
        required: false
        type: "string"
      - name: "lang"
        in: "query"
        required: false
        type: "string"
      - name: "offset"
        in: "query"
        required: true
        type: "string"
      - name: "dl"
        in: "query"
        required: false
        type: "string"
      - name: "major"
        in: "query"
        required: false
        type: "string"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/Empty"
    options:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/Empty"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /course-reviews:
    post:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "ReviewsReq"
        required: true
        schema:
          $ref: "#/definitions/ReviewsReq"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/ReviewsResp"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
        500:
          description: "500 response"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "403 response"
          schema:
            $ref: "#/definitions/Error"
    options:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/Empty"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Max-Age:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /feeds:
    get:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "offset"
        in: "query"
        required: true
        type: "string"
      - name: "limit"
        in: "query"
        required: true
        type: "string"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
    options:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/Empty"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /syllabus/{item}:
    get:
      produces:
      - "application/json; charset=utf-8"
      parameters:
      - name: "item"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/Syllabus"
          headers:
            Cache-Control:
              type: "string"
            Access-Control-Allow-Origin:
              type: "string"
            ETag:
              type: "string"
            Expires:
              type: "string"
            Last-Modified:
              type: "string"
    options:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/Empty"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
definitions:
  Empty:
    type: "object"
    title: "Empty"
  Error:
    type: "object"
    properties:
      success:
        type: "boolean"
        default: false
      message:
        type: "string"
    title: "Error Schema"
  ReviewsReq:
    type: "object"
    required:
    - "course_keys"
    properties:
      course_keys:
        type: "array"
        items:
          type: "string"
  ReviewsResp:
    type: "object"
    required:
    - "data"
    - "message"
    - "success"
    properties:
      success:
        type: "boolean"
      data:
        type: "array"
        items:
          type: "object"
          properties:
            course_key:
              type: "string"
            comments:
              type: "array"
              items:
                type: "object"
                properties:
                  title_jp:
                    type: "string"
                  instructor_jp:
                    type: "string"
                  course_code:
                    type: "string"
                  timestamp:
                    type: "string"
                  benefit:
                    type: "number"
                  difficulty:
                    type: "number"
                  satisfaction:
                    type: "number"
                  instructor:
                    type: "string"
                  comment_zh_CN:
                    type: "string"
                  comment_en:
                    type: "string"
                  year:
                    type: "number"
                  comment_src_lng:
                    type: "number"
                  comment_jp:
                    type: "string"
                  course_key:
                    type: "string"
                  id:
                    type: "string"
                  comment_zh_TW:
                    type: "string"
                  title:
                    type: "string"
                required:
                - "benefit"
                - "comment_en"
                - "comment_jp"
                - "comment_src_lng"
                - "comment_zh_CN"
                - "comment_zh_TW"
                - "course_code"
                - "course_key"
                - "difficulty"
                - "id"
                - "instructor"
                - "instructor_jp"
                - "satisfaction"
                - "timestamp"
                - "title"
                - "title_jp"
                - "year"
          required:
          - "comments"
          - "course_key"
      message:
        type: "string"
  Syllabus:
    title: "Syllabus"
    type: "array"
    description: "The new syllabus JSON schema for each school."
    items:
      type: "object"
      description: "The schema of each course in the array."
      title: "Items"
      properties:
        a:
          type: "string"
          description: "Course key of the course."
          title: "Course Key"
        b:
          type: "string"
          description: "Course title in English."
          title: "Title"
        c:
          type: "string"
          description: "Course title in Japanese."
          title: "Title JP"
        d:
          type: "string"
          description: "Instructor's name in English."
          title: "Instructor"
        e:
          type: "string"
          description: "Instructor's name in Japanese."
          title: "Instructor JP"
        f:
          type: "array"
          description: "Languages in which the course is taught."
          title: "Langauges"
          items:
            type: "integer"
            description: "-1 N/A | 0 Japanese | 1 English | 2 German | 3 French |\
              \ 4 Chinese | 5 Spanish | 6 Korean | 7 Russia | 8 Italian | 9 other"
            title: "Language"
        g:
          type: "integer"
          description: "Type of the course\n-1 N/A | 0 Lecture | 1 Seminar | 2 Work\
            \ | 3 Foreign Langauge | 4 On-demand | 5 Thesis | 6 Graduate Research\
            \ | 7 Practice | 8 Blended"
          title: "Type"
        h:
          type: "string"
          description: "The term in which the course is taught.\nseason := 0 Spring\
            \ | 1 Summer | 2 Fall | 3 Winter\nperiod := 's' Semester| 'q' Quarter\
            \ | 'i' Intensive Course | 'f' Full Year | 't' Term\ndelimiter := '/'\
            \ or | '&' and"
          title: "Term"
          enum:
          - "0s"
          - "2s"
          - "0q"
          - "1q"
          - "2q"
          - "3q"
          - "f"
          - "0"
          - "1"
          - "2"
          - "3"
          - "0i"
          - "2i"
          - "0t"
          - "2t"
          - "3t"
          - "0t/1t"
          - "0s/2s"
          - "2t/3t"
          - "1&2s"
          - "0s&1"
          - "f/2s"
          - "0i&3i"
        i:
          type: "array"
          description: "The schedules and locations of the course."
          title: "Occurrences"
          items:
            type: "object"
            description: "Schedule and location"
            title: "Occurrence"
            properties:
              d:
                type: "integer"
                description: "The day on which the course is taught.\n-1 others |\
                  \ 0 Mon | 1 Tues | 2 Wed | 3 Thur | 4 Fri | 5 Sat | 6 Sun"
                title: "Day"
              p:
                type: "integer"
                description: "The period on which the course is taught.\nstart_period\
                  \ := -1 others | 0 On-demand | 1 .. 9\n end_period := start_period "
                title: "Period"
              l:
                type: "string"
                description: "The location where the course takes place."
                title: "Loction"
            required:
            - "d"
            - "l"
            - "p"
        j:
          type: "integer"
          description: "Minimum eligible year.\n-1 unknown | 1 .. 4"
          title: "Minimum Eligible Year"
        k:
          type: "string"
          description: "The category the course falls in."
          title: "Category"
        l:
          type: "integer"
          description: "The credit of the course.\n -1 unknown | 0 .."
          title: "Credit"
        m:
          type: "integer"
          description: "The level/difficulty of the course.\n-1 N/A | 0 Beginner |\
            \ 1 Intermediate | 2 Advanced | 3 Final-stage | 4 Master | 5 Doctor"
          title: "Level"
        n:
          type: "array"
          description: "The distribution of evaluation criterion and their descriptions"
          title: "Evaluations"
          items:
            type: "object"
            description: "Criteria and description"
            title: "Evaluation"
            properties:
              t:
                type: "integer"
                description: "Type of the evaluation\n-1 Unknown | 0 Exam | 1 Papers\
                  \ | 2 Class Participation | 3 Others"
                title: "Type"
              p:
                type: "integer"
                description: "The percentage of this criteria in evaluation."
                title: "Percentage"
              c:
                type: "string"
                description: "An explanation about the criteria."
                title: "Comment"
            required:
            - "c"
            - "p"
            - "t"
        o:
          type: "string"
          description: "Course code"
          title: "Code"
        p:
          type: "string"
          description: "Subtitle of the course (mostly seen in seminar courses)"
          title: "Subtitle"
        q:
          type: "string"
          description: "The category the course falls in.(in Japanese)"
          title: "CategoryJP"
      required:
      - "a"
      - "b"
      - "c"
      - "d"
      - "e"
      - "f"
      - "g"
      - "h"
      - "i"
      - "j"
      - "k"
      - "l"
      - "m"
      - "n"
      - "o"
      - "p"
      - "q"
